h1, p {
    font-family: Helvetica, serif;
    font-size: 14px;
}

.mainSection{
}
.chatSection {
    background-color:#e9ffd4;
    margin: auto;
    font-family: Helvetica, serif;
    font-weight: bold;
    width: 40%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}

/* On mouse-over, add a deeper shadow */
.chatSection:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.heading {
    font-size: 28px;
    font-family: Helvetica, serif;
    text-align: center;
    margin-left: auto;
    color: white;
    margin-right: auto;
    z-index: 3;
    /*margin-bottom: 10px;*/
    background-color: #9966ff;
    width: 39%;
    padding: 5px;
    border-radius: 20px;
}

.botContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagesSection {
    height: 90%;
}

.messageInputField {
    background-color: #e9ffd4;
    margin-left: 15px;
    font-size: 15px;
    font-family: Helvetica, serif;
    outline:none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 90%;
}

.inputSection {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
}

.messagesSection {
    min-height: 60vh;
    max-height: 60vh;
    margin-top: 20px;
    overflow-y: auto;
}

/* Message component styles here 👇 */
.botCard {
    width: 80%;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    background-color: darkgray;
    margin-left: 5px;
    color: white;
    margin-bottom: 10px;
}

.userCard {
    width: 80%;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    margin-right: 5px;
    float: right;
    background-color: #9966ff;
    color: white;
}

.messagesSection::-webkit-scrollbar {

    display: none;
}

.messagesSection {
    font-family: Helvetica, serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.messagesContainer {
    font-family: Helvetica, serif;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .inputSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 21px;
    }

    .userCard {
        width: 50%;
    }

    .botCard {
        width: 50%;
    }
}